<footer class="bg-gray-100 text-gray-700 py-12">
      <div class="container mx-auto px-4">
        <!-- Top columns -->
        <div class=" ">
          <!-- Contact Info -->
          <div class="8">
           
            <ul class="flex flex-col items-center md:flex-row justify-around mb-space-y-3 text-sm">
              <li class="class">
                 <h6 class="text-lg font-semibold mb-4">Liên hệ</h6>
              </li>
              <li class="flex items-center">
                <i class="fab fa-github mr-2 text-gray-600"></i>
                <a href="https://github.com/DG1923/FashionShop" target="_blank" class="hover:text-blue-600 transition-colors">
                  GitHub
                </a>
              </li>
              <li class="flex items-center">
                <i class="fab fa-facebook mr-2 text-blue-600"></i>
                <a href="https://www.facebook.com/DGiap192/" target="_blank" class="hover:text-blue-600 transition-colors">
                  Facebook
                </a>
              </li>
              <li class="flex items-center">
                <i class="fas fa-envelope mr-2 text-red-600"></i>
                <a href="mailto:192dgiap@gmail.com" class="hover:text-blue-600 transition-colors">
                  192dgiap&#64;gmail.com
                </a>
              </li>
              <li class="flex items-center">
                <i class="fas fa-phone mr-2 text-green-600"></i>
                <a href="tel:0333151782" class="hover:text-blue-600 transition-colors">
                  0333151782 (Zalo)
                </a>
              </li>
            </ul>
          </div>
           
       
        </div>

       
        
      </div>
    </footer>