<h1 class="text-3xl font-bold">{{title}}</h1>
<!-- Loading state -->
<div *ngIf="isLoading" class="flex justify-center py-8">
    <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500"></div>
</div>
<!-- Categories list -->
<div *ngIf="!isLoading" class="flex justify-center py-8">
    <div #scrollContainer class="flex space-x-4 overflow-x-auto scroll-smooth touch-auto scrollbar-hide" 
         style="scrollbar-width: none; -ms-overflow-style: none;">
        <ng-container *ngFor="let i of products">
            <app-product-card></app-product-card> 
        </ng-container>
    </div>
</div>