<div class="">
    <c-carousel [interval]="2000" class="w-full md:h-[400px] h-full">
        <c-carousel-indicators />
        <c-carousel-inner>
          @for (slide of slides; track slide.src) {
            <c-carousel-item>
              <img
                alt="{{slide.title}}"
                class="d-block w-screen object-cover md:h-[400px]"
                loading="lazy"
                src="{{slide.src}}" 
              />
              <c-carousel-caption class="d-none d-md-block">
                <h3>{{ slide.title }}</h3>
                <p>{{ slide.subtitle }}</p>
              </c-carousel-caption>
            </c-carousel-item>
          }
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="<" direction="prev" />
        <c-carousel-control [routerLink] caption=">" direction="next" />
      </c-carousel>
</div>